body {
  background: black;
}

span {
  color: #edecec;
  font-size: 50px;
  animation: spread 1s ease-in-out infinite alternate;
}

@keyframes spread {
  to {
    color: #72d885;
    text-shadow: 20px 0 70px #16a9e7;
  }
}

@for $i from 1 through 8 {
  span:nth-child(#{$i}) {
    animation-delay: ($i) * 0.2s;
  }
}
